@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

@font-face {
    font-family: 'Pribambas';
    src:    url('../fonts/Pribambas-Regular.woff2') format('woff2'),
            url('../fonts/Pribambas-Regular.woff') format('woff'),
            url('../fonts/Pribambas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shnobel';
    src:    url('../fonts/Shnobelregular.woff2') format('woff2'),
            url('../fonts/Shnobelregular.woff') format('woff'),
            url('../fonts/Shnobelregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

