<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="contacts.html">contacts</a></li>
        <li><a href="gallery.html">gallery</a></li>
        <li><a href="index.html">home</a></li>
        <li><a href="prices.html">prices</a></li>
        <li><a href="programms.html">programms</a></li>
        <li><a href="qa.html">faq</a></li>
        <li><a href="reg.html">registration</a></li>
        <li><a href="team.html">team</a></li>
    </ul>    
</body>
</html>