<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

<main class="innerpage" id="root">
    <section class="innerpage-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="" class="breadcrumbs__item">
                    Главная
                </a>
                <span class="breadcrumbs__item breadcrumbs__item_current">
                    Расписание и стоимость
                </span>
            </div>
            <h1 class="innerpage__title">
                Фотографии лагеря
            </h1>
        </div>
    </section>
    <section class="gallery">
        <div class="container">
            <h3 class="gallery__title">
                Программа «Вот такая вечеринка!»
            </h3>
            <div class="gallery__row">
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item gallery__item_video" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-1.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-2.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-2.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-3.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-3.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-4.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-4.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-5.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-5.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-6.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-6.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-7.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-7.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-8.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-8.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-9.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-9.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-10.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-10.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-11.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-11.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-12.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-12.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-13.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-13.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-14.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-14.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-15.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-15.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-16.jpg') %>" class="gallery__item" data-fancybox="gallery1">
                        <img src="<%=require('@img/gallery-16.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
            </div>
            <h3 class="gallery__title">
                Программа «Вот такая вечеринка!»
            </h3>
            <div class="gallery__row">
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-1.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-2.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-3.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-4.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-5.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-6.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-7.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-8.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-9.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-10.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-11.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-12.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-13.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-14.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-15.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery2">
                        <img src="<%=require('@img/gallery-16.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
            </div>
            <h3 class="gallery__title">
                Программа «Вот такая вечеринка!»
            </h3>
            <div class="gallery__row">
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-1.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-2.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-3.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-4.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-5.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-6.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-7.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-8.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-9.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-10.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-11.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-12.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-13.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-14.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-15.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
                <div class="gallery__item-wrapper">
                    <a href="<%=require('@img/gallery-1.jpg') %>" class="gallery__item" data-fancybox="gallery3">
                        <img src="<%=require('@img/gallery-16.jpg') %>" class="gallery__item-image" alt="">
                        <div class="gallery__item-overlay"></div>
                    </a>
                </div>
            </div>
            <div class="gallery__pagination">
                <button class="gallery__pagination-button">
                    Показать больше
                </button>
                <div class="gallery__pagination-wrapper">
                    <a href="" class="gallery__pagination-item gallery__pagination-item_active">
                        1
                    </a>
                    <a href="" class="gallery__pagination-item">
                        2
                    </a>
                    <a href="" class="gallery__pagination-item">
                        3
                    </a>
                    <a href="" class="gallery__pagination-item">
                        4
                    </a>
                    <div class="gallery__pagination-space">
                        ...
                    </div>
                    <a href="" class="gallery__pagination-item">
                        12
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

<%= require('@parts/footer.ejs')() %>