<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

  <main class="innerpage" id="root">
    <section class="innerpage-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="" class="breadcrumbs__item">
                    Главная
                </a>
                <span class="breadcrumbs__item breadcrumbs__item_current">
                    Расписание и стоимость
                </span>
            </div>
            <h1 class="innerpage__title">
                Расписание и стоимость путёвок
            </h1>
        </div>
    </section>
    <section class="sales">
        <div class="container">
            <div class="sales__icon">
                <img src="<%=require('@img/sales-icon.png') %>" alt=""> 
            </div>
            <div class="sales__row">
                <div class="sales__item sales__item_1">
                    <div class="sales__item-title">
                        «ЖИТЕЛЬ СТРАНЫ ОЗ/ ПОЧЁТНЫЙ ФЕРМЕР/ БЫВАЛЫЙ ПОХОДНИК»
                    </div>
                    <p class="sales__item-txt">
                        <span>Скидка 1000 рублей</span> подготовлена для тех, кто ранее бывал в одной из программ в лагере Стране Оз/на ферме/в походе.
                    </p>
                </div>
                <div class="sales__item sales__item_2">
                    <div class="sales__item-title">
                        «ЛОЯЛЬНЫЙ РОДИТЕЛЬ»
                    </div>
                    <p class="sales__item-txt">
                        Опубликуйте пост о лагере в своих социальных сетях, пришлите скрин поста на нашу электронную почту и получите <span>скидку 500 рублей</span> на любую смену (кроме похода).
                    </p>
                </div>
                <div class="sales__item sales__item_3">
                    <div class="sales__item-title">
                        «ПРИВЕДИ ДРУГА»
                    </div>
                    <p class="sales__item-txt">
                        <span>Скидка 1000 рублей</span> предназначена за каждого приведённого друга.
                    </p>
                </div>
                <div class="sales__item sales__item_4">
                    <div class="sales__item-title">
                        «ОПТОМ ДЕШЕВЛЕ»
                    </div>
                    <p class="sales__item-txt">
                        <span>Скидка 1000 рублей</span> при покупке 2-й путёвки, 2000 рублей при покупки 3-й (внутри семьи).
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="tour">
        <div class="container">
            <h2 class="tour__title">
                ТЕМАТИЧЕСКИЕ СМЕНЫ В ПОДМОСКОВЬЕ
            </h2>
            <div class="tour__table-wrapper">
                <table class="tour__table">
                    <tr>
                        <th>Название смены</th>
                        <th>Даты смены</th>
                        <th>Свободных мест</th>
                        <th>Стоимость</th>
                        <th>Место проведения</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <div class="tour__table-title">
                                Монголия. Большая экономическая игра!
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-date">
                                3-9 октяб. 2021
                            </div>
                            <div class="tour__table-date">
                                24-30 откяб. 2021
                            </div>
                            <div class="tour__table-date">
                                31 октяб. - 6 нояб. 2021
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-free tour-free">
                                <div class="tour-free__title">
                                    12
                                </div>
                                <div class="tour-free__wrapper tour-free__wrapper_middle">
                                    <div class="tour-free__item">
                                        
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-price">
                                25 000 ₽
                            </div>
                        </td>
                        <td>
                            <a href="" class="tour__table-link">
                                Парк-отель «Олимп»
                            </a>
                        </td>
                        <td>
                            <a href="" class="tour__table-button">
                                Отправить заявку
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="tour__table-title">
                                Алиса в Стране чудес
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-date">
                                3-9 октяб. 2021
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-free tour-free">
                                <div class="tour-free__title">
                                    12
                                </div>
                                <div class="tour-free__wrapper tour-free__wrapper_middle">
                                    <div class="tour-free__item">
                                        
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-price">
                                25 000 ₽
                            </div>
                        </td>
                        <td>
                            <a href="" class="tour__table-link">
                                Парк-отель «Олимп»
                            </a>
                        </td>
                        <td>
                            <a href="" class="tour__table-button">
                                Отправить заявку
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="tour__table-title">
                                Алиса в Стране чудес
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-date">
                                3-9 октяб. 2021
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-free tour-free">
                                <div class="tour-free__title">
                                    12
                                </div>
                                <div class="tour-free__wrapper tour-free__wrapper_middle">
                                    <div class="tour-free__item">
                                        
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-price">
                                25 000 ₽
                            </div>
                        </td>
                        <td>
                            <a href="" class="tour__table-link">
                                Парк-отель «Олимп»
                            </a>
                        </td>
                        <td>
                            <a href="" class="tour__table-button">
                                Отправить заявку
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="tour__table-title">
                                Алиса в Стране чудес
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-date">
                                3-9 октяб. 2021
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-free tour-free">
                                <div class="tour-free__title">
                                    12
                                </div>
                                <div class="tour-free__wrapper tour-free__wrapper_middle">
                                    <div class="tour-free__item">
                                        
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="tour__table-price">
                                25 000 ₽
                            </div>
                        </td>
                        <td>
                            <a href="" class="tour__table-link">
                                Парк-отель «Олимп»
                            </a>
                        </td>
                        <td>
                            <a href="" class="tour__table-button">
                                Отправить заявку
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <section class="pay-method">
        <div class="container">
            <div class="pay-method__wrapper">
                <div class="pay-method__title">
                    Способы оплаты
                </div>
                <div class="pay-method__block">
                    <div class="pay-method__block-icon">
                        <img src="<%=require('@img/pay-1.png') %>" alt="">
                    </div>
                    <p class="pay-method__block-txt">
                        По <a href="#">квитанции</a> в любом отделении банка либо через банк-онлайн (комиссия зависит от банка)
                    </p>
                </div>
                <div class="pay-method__block">
                    <div class="pay-method__block-icon">
                        <img src="<%=require('@img/pay-2.png') %>" alt="">
                    </div>
                    <p class="pay-method__block-txt">
                        Оплата наличными курьеру (выезд курьера 1 раз в месяц по субботам)
                    </p>
                </div>
                <div class="pay-method__block">
                    <div class="pay-method__block-icon">
                        <img src="<%=require('@img/pay-3.png') %>" alt="">
                    </div>
                    <p class="pay-method__block-txt">
                        Оплата банковской картой (Visa, MasterCard, МИР, Maestro).
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="get">
        <div class="container">
            <div class="get__row">
                <div class="get__content">
                    <h2 class="get__title">
                        Оставить заявку на смену
                    </h2>
                    <p class="get__txt">
                        Если вы затрудняетесь в выборе программы для своего ребенка, у вас появлились вопросы, мы с радостью поможем вам в выборе и ответим на любые вопросы!
                    </p>
                    <form action="#" class="get__form">
                        <div class="get__form-row">
                            <div class="get__form-group">
                                <input type="text" class="get__form-control get__form-control_name" placeholder="Ваше имя">
                            </div>
                            <div class="get__form-group">
                                <input type="text" class="get__form-control get__form-control_phone" placeholder="+ 7 (___) ___ - __ - __">
                            </div>
                            <div class="get__form-group">
                                <button type="submit" class="get__form-submit">
                                    Отправить заявку
                                </button>
                            </div>
                        </div>
                        <div class="get__form-agree">
                            <input type="checkbox" name="agree" id="agree">
                            <label for="agree">
                                При нажатии на кнопку “Отправить заявку” вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="get__contacts">
                    <div class="get__contacts-top">
                        Позвоните нам <a href="tel:8 (495) 540-56-29">8 (495) 540-56-29</a>
                    </div>
                    <div class="get__contacts-txt">
                        Если вы затрудняетесь в выборе программы, <span>подберем вашему ребенку подходящую смену</spa>
                    </div>
                </div>
                <div class="get__image">
                    <img src="<%=require('@img/get-image.svg') %>" alt="">
                </div>
            </div>
        </div>
    </section>
  </main>

  <%= require('@parts/footer.ejs')() %>