<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

<main class="innerpage" id="root">
    <section class="innerpage-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="" class="breadcrumbs__item">
                    Главная
                </a>
                <span class="breadcrumbs__item breadcrumbs__item_current">
                    Расписание и стоимость
                </span>
            </div>
            <h1 class="innerpage__title">
                Часто задаваемые вопросы
            </h1>
        </div>
    </section>
    <section class="qa-page">
        <div class="container">
            <div class="qa-page__row">
                <div class="qa-page__content">
                    <h3 class="qa-page__title qa-page__title_first">
                        Вопросы по оформлению:
                    </h3>
                    <div class="qa__accord-block js-qaBlock" id="accord-1">
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Как осуществляется проезд в лагерь?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header qa__accord-header_open">
                                Как организовано медицинское обеспечение детей?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Чем дети занимаются в свободное время?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                На какие экскурсии поедут дети?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Сколько человек проживает в одной комнате?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="qa-page__title qa-page__title_first">
                        Вопросы по условиям на программах
                    </h3>
                    <div class="qa__accord-block js-qaBlock" id="accord-2">
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Как осуществляется проезд в лагерь?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header qa__accord-header_open">
                                Как организовано медицинское обеспечение детей?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Чем дети занимаются в свободное время?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                На какие экскурсии поедут дети?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Сколько человек проживает в одной комнате?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="qa-page__title qa-page__title_first">
                        Вопросы по медицине и безопасности
                    </h3>
                    <div class="qa__accord-block js-qaBlock" id="accord-3">
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Как осуществляется проезд в лагерь?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header qa__accord-header_open">
                                Как организовано медицинское обеспечение детей?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Чем дети занимаются в свободное время?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                На какие экскурсии поедут дети?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Сколько человек проживает в одной комнате?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит обход
                                        территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="qa-page__title qa-page__title_first">
                        Вопросы по распорядку дня и смены на программах
                    </h3>
                    <div class="qa__accord-block js-qaBlock" id="accord-4">
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Как осуществляется проезд в лагерь?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит
                                        обход территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header qa__accord-header_open">
                                Как организовано медицинское обеспечение детей?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит
                                        обход территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Чем дети занимаются в свободное время?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит
                                        обход территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                На какие экскурсии поедут дети?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит
                                        обход территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Сколько человек проживает в одной комнате?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит
                                        обход территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="qa-page__title qa-page__title_first">
                        Вопросы по оформлению:
                    </h3>
                    <div class="qa__accord-block js-qaBlock" id="accord-5">
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Как осуществляется проезд в лагерь?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит
                                        обход территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header qa__accord-header_open">
                                Как организовано медицинское обеспечение детей?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит
                                        обход территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Чем дети занимаются в свободное время?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит
                                        обход территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                На какие экскурсии поедут дети?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <sp class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит
                                        обход территории согласно своему графику.
                                    </sp>
                                </div>
                            </div>
                        </div>
                        <div class="qa__accord">
                            <button class="qa__accord-header">
                                Сколько человек проживает в одной комнате?
                                <div class="qa__accord-btn">
                                    <div class="qa__accord-open">
                                        <span></span><span></span>
                                    </div>
                                </div>
                            </button>
                            <div class="qa__accord-body qa-body">
                                <div class="qa-body__wrapper">
                                    <p class="qa-body__txt">
                                        Территория огорожена забором, есть 2 пункта КПП, охрана проводит
                                        обход территории согласно своему графику.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="qa__accord-block js-qaBlock qa-page__bottom" id="accord-6">
                        <div class="qa-page__bottom-icon">
                            <img src="<%=require('@img/qa-icon.png') %>" alt="">
                        </div>
                        <div class="qa-page__bottom-content">
                            <div class="qa-page__content-title">
                                У вас остались вопросы?
                            </div>
                            <p class="qa-page__content-txt">
                                Мы готовы ответить на любые, интересующие вас вопросы по почте или
                                телефону
                            </p>
                        </div>
                        <a href="" class="qa-page__bottom-button">
                            Задать свой вопрос
                        </a>
                    </div>
                </div>
                <div class="qa-page__nav-wrapper">
                    <ul class="qa-page__nav js-qaNav">
                        <li class="qa-page__nav-item">
                            <a href="#accord-1" class="qa-page__nav-link qa-page__nav-link_active">
                                Вопросы по питанию
                            </a>
                        </li>
                        <li class="qa-page__nav-item">
                            <a href="#accord-2" class="qa-page__nav-link">
                                Вопросы по условиям на программах
                            </a>
                        </li>
                        <li class="qa-page__nav-item">
                            <a href="#accord-3" class="qa-page__nav-link">
                                Вопросы по медицине и безопасности
                            </a>
                        </li>
                        <li class="qa-page__nav-item">
                            <a href="#accord-4" class="qa-page__nav-link">
                                Вопросы по распорядку дня и смены на программах
                            </a>
                        </li>
                        <li class="qa-page__nav-item">
                            <a href="#accord-5" class="qa-page__nav-link">
                                Вопросы по питанию
                            </a>
                        </li>
                        <li class="qa-page__nav-item">
                            <a href="#accord-6" class="qa-page__nav-link">
                                Задать свой вопрос
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<%= require('@parts/footer.ejs')() %>