<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

<main class="innerpage" id="root">
    <section class="innerpage-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="" class="breadcrumbs__item">
                    Главная
                </a>
                <span class="breadcrumbs__item breadcrumbs__item_current">
                    Расписание и стоимость
                </span>
            </div>
            <h1 class="innerpage__title">
                Оформление путевки
            </h1>
        </div>
    </section>
    <section class="qa-page reg-page">
        <div class="container">
            <div class="qa-page__row">
                <div class="qa-page__content reg-page__content reg">
                    <div class="reg__block">
                        <p class="reg__txt">
                            Вы уже определились с датами, пообщались с директором или менеджером по продажам? Тогда самое время выбрать <strong>способ приобретения путевки.</strong> 
                        </p>
                        <p class="reg__txt">
                            Дистанционное оформление подойдет тем, кто уже отдыхал в лагере «Страна Оз» или просто доверяет нашей компании, <br> так как путевку вы оплачиваете до подписания договора. Итак:
                        </p>
                        <div class="reg__item">
                            1. Вам необходимо прислать документы на электронную почту <a href="mailto: putevka@stranao3.ru" class="reg__item-link">putevka@stranao3.ru</a>
                        </div>
                        <ul class="reg__list">
                            <li class="reg__list-item">
                                - паспорт одного из родителей (первая страница + регистрация);
                            </li>
                            <li class="reg__list-item">
                                - свидетельство о рождении или паспорт (старше 14 лет) ребёнка;
                            </li>
                            <li class="reg__list-item">
                                - медицинский полис ребёнка;
                            </li>
                            <li class="reg__list-item">
                                - заполненную анкету (<a href="#" class="reg__list-link">скачать анкету</a> для родителей)
                            </li>
                        </ul>
                        <div class="reg__item">
                            2. В течение 1-2 рабочих дней вы получите договор, приложения и квитанцию на оплату на свою электронную почту
                        </div>
                        <div class="reg__item">
                            3. В течение 3х рабочих дней вы оплачиваете путевку в любом банке;
                        </div>
                        <div class="reg__sm">
                            (Внимание! При оплате через банк или банк-онлайн снимается комиссия. Без комиссии можно оплатить путевку наличными в офисе);
                        </div>
                        <div class="reg__item">
                            4. Подписать договор вы можете в любой рабочий день/ у автобуса в день отъезда детей в лагерь.
                        </div>
                        <a href="" class="reg__button">
                            Перейти к оформлению
                        </a>
                    </div>
                    <div class="reg__block">
                        <h2 class="reg__title">
                            Оплата путёвки банковской картой
                        </h2>
                        <h3 class="reg__subtitle">
                            Правила оплаты (принимаются платежные карты: VISA Inc, MasterCard WorldWide, МИР):
                        </h3>
                        <div class="reg__item">
                            1. При оформлении (по телефону/электронной почте) путёвки необходимо указать способ оплаты «Банковской картой»;
                        </div>
                        <div class="reg__item">
                            2. На вашу электронную почту придёт ссылка на оплату → переходим по ссылке;
                        </div>
                        <div class="reg__item">
                            3. Обработка платежа происходит на авторизационной странице банка, где Вам необходимо ввести данные <br> Вашей банковской карты:
                        </div>
                        <ul class="reg__list">
                            <li class="reg__list-item">
                                - тип карты;
                            </li>
                            <li class="reg__list-item">
                                - номер карты;
                            </li>
                            <li class="reg__list-item">
                                - срок действия карты (указан на лицевой стороне карты);
                            </li>
                            <li class="reg__list-item">
                                - имя держателя карты (латинскими буквами, точно также как указано на карте);
                            </li>
                            <li class="reg__list-item">
                                - CVC2/CVV2 код.
                            </li>
                        </ul>
                        <p class="reg__txt">
                            Если Ваша карта подключена к услуге 3D-Secure, Вы будете автоматически переадресованы на страницу банка, выпустившего карту, для прохождения процедуры аутентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.
                        </p>
                        <p class="reg__txt">
                            Безопасность обработки интернет-платежей через платежный шлюз банка гарантирована международным сертификатом безопасности PCI DSS. Передача информации происходит с применением технологии шифрования SSL.  Эта информация недоступна посторонним лицам. Советы и рекомендации по необходимым мерам безопасности проведения платежей с использованием банковской карты:
                        </p>
                        <div class="reg__item">
                            1. Берегите свои пластиковые карты так же, как бережете наличные деньги. Не забывайте их в машине, ресторане и т.д.,
                        </div>
                        <div class="reg__item">
                            2. Никогда не передавайте полный номер своей кредитной карты по телефону каким-либо лицам или компаниям,
                        </div>
                        <div class="reg__item">
                            3. Всегда имейте под рукой номер телефона для экстренной связи с банком, выпустившим вашу карту, и в случае ее утраты <br> немедленно свяжитесь с банком,
                        </div>
                        <div class="reg__item">
                            4. Вводите реквизиты карты  только при совершении покупки. Никогда не указывайте их по каким-то другим причинам.
                        </div>
                        <h3 class="reg__subtitle">
                            Возврат денежных средств:
                        </h3>
                        <p class="reg__txt">
                            Осуществляется согласно пунктам <a href="#">договора 6.7-6.10</a> на расчетный счет заявителя.
                        </p>
                    </div>
                </div>
                <div class="qa-page__nav-wrapper">
                    <ul class="qa-page__nav reg-page__nav">
                        <li class="qa-page__nav-item">
                            <a href="#accord-1" class="qa-page__nav-link qa-page__nav-link_active">
                                Дистанционное оформление путевки
                            </a>
                        </li>
                        <li class="qa-page__nav-item">
                            <a href="#accord-2" class="qa-page__nav-link">
                                Оплата путёвки банковской картой
                            </a>
                        </li>
                        <li class="qa-page__nav-item">
                            <a href="#accord-3" class="qa-page__nav-link">
                                Реквизиты огранизации
                            </a>
                        </li>
                        <li class="qa-page__nav-item">
                            <a href="#accord-4" class="qa-page__nav-link">
                                Оформление заявки
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<%= require('@parts/footer.ejs')() %>