<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

<main class="innerpage" id="root">
    <section class="innerpage-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="" class="breadcrumbs__item">
                    Главная
                </a>
                <span class="breadcrumbs__item breadcrumbs__item_current">
                    Расписание и стоимость
                </span>
            </div>
            <h1 class="innerpage__title">
                Оформление путевки
            </h1>
        </div>
    </section>
    <section class="qa-page reg-page">
        <div class="container">
            <div class="qa-page__row">
                <div class="qa-page__content reg-page__content reg">
                    <div class="reg__wrapper">
                        <div class="reg__block" id="reg-1">
                            <p>
                                Вы уже определились с датами, пообщались с директором или менеджером по продажам? Тогда самое время выбрать <strong>способ приобретения путевки.</strong> 
                            </p>
                            <p>
                                Дистанционное оформление подойдет тем, кто уже отдыхал в лагере «Страна Оз» или просто доверяет нашей компании, <br> так как путевку вы оплачиваете до подписания договора. Итак:
                            </p>
                            <b>
                                1. Вам необходимо прислать документы на электронную почту <a href="mailto: putevka@stranao3.ru" class="reg__item-link">putevka@stranao3.ru</a>
                            </b>
                            <ul>
                                <li>
                                    - паспорт одного из родителей (первая страница + регистрация);
                                </li>
                                <li>
                                    - свидетельство о рождении или паспорт (старше 14 лет) ребёнка;
                                </li>
                                <li>
                                    - медицинский полис ребёнка;
                                </li>
                                <li>
                                    - заполненную анкету (<a href="#">скачать анкету</a> для родителей)
                                </li>
                            </ul>
                            <b>
                                2. В течение 1-2 рабочих дней вы получите договор, приложения и квитанцию на оплату на свою электронную почту
                            </b>
                            <b>
                                3. В течение 3х рабочих дней вы оплачиваете путевку в любом банке;
                            </b>
                            <p>
                                (Внимание! При оплате через банк или банк-онлайн снимается комиссия. Без комиссии можно оплатить путевку наличными в офисе);
                            </p>
                            <b>
                                4. Подписать договор вы можете в любой рабочий день/ у автобуса в день отъезда детей в лагерь.
                            </b>
                            <a href="" class="reg__button">
                                Перейти к оформлению
                            </a>
                        </div>
                        <div class="reg__block" id="reg-2">
                            <h2>
                                Оплата путёвки банковской картой
                            </h2>
                            <h3>
                                Правила оплаты (принимаются платежные карты: VISA Inc, MasterCard WorldWide, МИР):
                            </h3>
                            <b>
                                1. При оформлении (по телефону/электронной почте) путёвки необходимо указать способ оплаты «Банковской картой»;
                            </b>
                            <b>
                                2. На вашу электронную почту придёт ссылка на оплату → переходим по ссылке;
                            </b>
                            <b>
                                3. Обработка платежа происходит на авторизационной странице банка, где Вам необходимо ввести данные <br> Вашей банковской карты:
                            </b>
                            <ul>
                                <li>
                                    - тип карты;
                                </li>
                                <li>
                                    - номер карты;
                                </li>
                                <li>
                                    - срок действия карты (указан на лицевой стороне карты);
                                </li>
                                <li>
                                    - имя держателя карты (латинскими буквами, точно также как указано на карте);
                                </li>
                                <li>
                                    - CVC2/CVV2 код.
                                </li>
                            </ul>
                            <p>
                                Если Ваша карта подключена к услуге 3D-Secure, Вы будете автоматически переадресованы на страницу банка, выпустившего карту, для прохождения процедуры аутентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.
                            </p>
                            <p>
                                Безопасность обработки интернет-платежей через платежный шлюз банка гарантирована международным сертификатом безопасности PCI DSS. Передача информации происходит с применением технологии шифрования SSL.  Эта информация недоступна посторонним лицам. Советы и рекомендации по необходимым мерам безопасности проведения платежей с использованием банковской карты:
                            </p>
                            <b>
                                1. Берегите свои пластиковые карты так же, как бережете наличные деньги. Не забывайте их в машине, ресторане и т.д.,
                            </b>
                            <b>
                                2. Никогда не передавайте полный номер своей кредитной карты по телефону каким-либо лицам или компаниям,
                            </b>
                            <b>
                                3. Всегда имейте под рукой номер телефона для экстренной связи с банком, выпустившим вашу карту, и в случае ее утраты <br> немедленно свяжитесь с банком,
                            </b>
                            <b>
                                4. Вводите реквизиты карты  только при совершении покупки. Никогда не указывайте их по каким-то другим причинам.
                            </b>
                            <h3>
                                Возврат денежных средств:
                            </h3>
                            <p>
                                Осуществляется согласно пунктам <a href="#">договора 6.7-6.10</a> на расчетный счет заявителя.
                            </p>
                        </div>
                        <div class="reg__block" id="reg-3">
                            <h2>
                                Реквизиты огранизации
                                <a href="" class="reg__title-link">
                                    <img src="<%=require('@img/reg-link.png') %>" alt="">Карточка организации
                                </a>
                            </h2>
                            <p>
                                
                                    Название организации:
                                
                                <strong>
                                    Общество с ограниченной ответственностью «Страна Оз»
                                </strong>
                            </p>
                            <p>
                                
                                    Юридический / адрес / Почтовый:
                                
                                <strong>
                                    7734674750 / 773401001 / 1127746137034
                                </strong>
                            </p>
                            <p>
                                
                                    Телефон:
                                
                                <strong>
                                    <a href="tel:+7 (495) 540-56-29">+7 (495) 540-56-29</a>, <a href="tel: +7 (985) 268-31-19">+7 (985) 268-31-19</a>
                                </strong>
                            </p>
                            <p>
                                
                                    Юридический адрес/Почтовый:
                                
                                <strong>
                                    123154, город Москва, бульвар Генерала Карбышева, дом 5, корпус 2, помещение I, 1 этаж
                                </strong>
                            </p>
                            <p>
                                
                                    Адрес электронной почты:
                                
                                <strong>
                                    <a href="mailto: putevka@stranao3.ru">putevka@stranao3.ru</a>
                                </strong>
                            </p>
                        </div>
                    </div>
                    <form action="" class="reg__form" id="reg-4">
                        <h2 class="reg__form-title">
                            Оформить заявку на путевку
                        </h2>
                        <div class="reg__form-row">
                            <div class="reg__form-group">
                                <input type="text" class="reg__form-control" placeholder="ФИО родителя">
                            </div>
                            <div class="reg__form-group">
                                <input type="text" class="reg__form-control" id="phone-mask" placeholder="+ 7 (___) ___ - __ - __">
                            </div>
                            <div class="reg__form-group">
                                <input type="text" class="reg__form-control" placeholder="Ваш E-mail">
                            </div>
                            <div class="reg__form-group reg__form-group_file">
                                <div class="reg__form-wrapper">
                                    <input type="file" name="file" id="file1" class="reg__form-file" data-multiple-caption="{count} files selected" multiple />
                                    <label for="file1" class="reg__form-filename" id="filename1">Загрузить файл</label>
                                    <button class="reg__form-reset" type="button" id="reset1">
                                        <img src="<%=require('@img/reset.png') %>" alt="">
                                    </button>
                                </div>
                                <div class="reg__form-top">
                                    <div class="reg__form-status"><img src="<%=require('@img/reg-form-status.png') %>" alt=""> Св-во о рождении / Паспорт ребенка</div>
                                </div>
                            </div>
                            <div class="reg__form-group reg__form-group_file">
                                <div class="reg__form-wrapper">
                                    <input type="file" name="file" id="file2" class="reg__form-file" data-multiple-caption="{count} files selected" multiple />
                                    <label for="file2" class="reg__form-filename" id="filename2">Загрузить файл</label>
                                    <button class="reg__form-reset" type="button" id="reset2">
                                        <img src="<%=require('@img/reset.png') %>" alt="">
                                    </button>
                                </div>
                                <div class="reg__form-top">
                                    <div class="reg__form-status"><img src="<%=require('@img/reg-form-status.png') %>" alt=""> Паспорт родителя (главная и рег-ия)</div>
                                </div>
                            </div>
                            <div class="reg__form-group reg__form-group_file">
                                <div class="reg__form-wrapper">
                                    <input type="file" name="file" id="file3" class="reg__form-file" data-multiple-caption="{count} files selected" multiple />
                                    <label for="file3" class="reg__form-filename" id="filename3">Загрузить файл</label>
                                    <button class="reg__form-reset" type="button" id="reset3">
                                        <img src="<%=require('@img/reset.png') %>" alt="">
                                    </button>
                                </div>
                                <div class="reg__form-top">
                                    <div class="reg__form-status"><img src="<%=require('@img/reg-form-status.png') %>" alt=""> Анкета</div>
                                    <a href="" class="reg__form-download">
                                        <img src="<%=require('@img/reg-download.png') %>" alt="">Скачать анкету
                                    </a>
                                </div>
                            </div>
                            <div class="reg__form-group reg__form-group_submit">
                                <button class="reg__form-submit" disabled="disabled">
                                    Отправить заявку
                                </button>
                                <div class="reg__form-agree">
                                    <input type="checkbox" id="agree">
                                    <label for="agree">При нажатии на кнопку “Отправить заявку” вы соглашаетесь с <a href="#">политикой конфиденциальности</a></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="qa-page__nav-wrapper">
                    <ul class="qa-page__nav reg-page__nav">
                        <li class="qa-page__nav-item">
                            <a href="#reg-1" class="qa-page__nav-link qa-page__nav-link_active">
                                Дистанционное оформление путевки
                            </a>
                        </li>
                        <li class="qa-page__nav-item">
                            <a href="#reg-2" class="qa-page__nav-link">
                                Оплата путёвки банковской картой
                            </a>
                        </li>
                        <li class="qa-page__nav-item">
                            <a href="#reg-3" class="qa-page__nav-link">
                                Реквизиты огранизации
                            </a>
                        </li>
                        <li class="qa-page__nav-item">
                            <a href="#reg-4" class="qa-page__nav-link">
                                Оформление заявки
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<%= require('@parts/footer.ejs')() %>