<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

<main class="innerpage" id="root">
    <section class="innerpage-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="" class="breadcrumbs__item">
                    Главная
                </a>
                <span class="breadcrumbs__item breadcrumbs__item_current">
                    Расписание и стоимость
                </span>
            </div>
            <h1 class="innerpage__title">
                Наша команда
            </h1>
            <p class="innerpage__subtitle">
                В нашей команде только опытные и самые креативные ребята, которые любят и умеют общаться с детьми.
            </p>
        </div>
    </section>
    <section class="team">
        <div class="container">
            <div class="team__row">
                <div class="team__item">
                    <div class="team__image">
                        <img src="<%=require('@img/team-bg-1.svg') %>" alt="" class="team__image-bg">
                        <div class="team__image-wrapper">
                            <img src="<%=require('@img/team-1.png') %>" alt="">
                        </div>
                    </div>
                    <div class="team__content">
                        <div class="team__content-title">
                            Соколова Юлия Юрьевна
                        </div>
                        <div class="team__content-subtitle">
                            Генеральный директор ООО «Страна Оз»
                        </div>
                        <p class="team__content-txt">
                            Основатель лагеря «Страна Оз», <br> счастливая мама двоих мальчишек, лягушка-путешественница:) К каждому проекту Страны Оз отношусь как к ребёнку, очень трепетно <br> и с большой любовью! Мечтаю заниматься не только детским отдыхом, но и семейным!
                        </p>
                    </div>
                </div>
                <div class="team__item">
                    <div class="team__image">
                        <img src="<%=require('@img/team-bg-2.svg') %>" alt="" class="team__image-bg team__image-bg_2">
                        <div class="team__image-wrapper">
                            <img src="<%=require('@img/team-2.png') %>" alt="">
                        </div>
                    </div>
                    <div class="team__content">
                        <div class="team__content-title team__content-title_yel">
                            Шавырина Анастасия Александровна
                        </div>
                        <div class="team__content-subtitle">
                            Директор лагеря «Страна Оз»
                        </div>
                        <p class="team__content-txt">
                            Люблю спонтанные путешествия и необычные места земного шара. Часто посещаю выставки и музеи - слежу за развитием современного искусства. Постоянно совершенствую себя в своей профессии, люблю делиться знаниями с другими людьми.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="team team_bg">
        <div class="container">
            <div class="team__row">
                <div class="team__item">
                    <div class="team__image">
                        <img src="<%=require('@img/team-bg-1.svg') %>" alt="" class="team__image-bg">
                        <div class="team__image-wrapper">
                            <img src="<%=require('@img/team-3.png') %>" alt="">
                        </div>
                    </div>
                    <div class="team__content">
                        <div class="team__content-title team__content-title_yel">
                            Кудрявцева <br> Ирина
                        </div>
                        <div class="team__content-subtitle">
                            Фотограф, “человек-техник”
                        </div>
                        <p class="team__content-txt">
                            Более 10 лет фотографирую <br> и ровно столько же езжу фотографом <br> в детские лагеря. Обожаю всё, что связано <br> с творчеством. Закончила <br> художественную школу.
                        </p>
                    </div>
                </div>
                <div class="team__item">
                    <div class="team__image">
                        <img src="<%=require('@img/team-bg-2.svg') %>" alt="" class="team__image-bg team__image-bg_2">
                        <div class="team__image-wrapper">
                            <img src="<%=require('@img/team-4.png') %>" alt="">
                        </div>
                    </div>
                    <div class="team__content">
                        <div class="team__content-title">
                            Кереев <br> Анатолий
                        </div>
                        <div class="team__content-subtitle">
                            Руководитель программ
                        </div>
                        <p class="team__content-txt">
                            По темпераменту я халеричный сангвиник с активной жизненной позицией, экстраверт, который кайфует от этой жизни! Считаю себя достаточно творческой личностью, поэтому я немного актер, немного певец и даже немного танцор, а недавно открыл в себе талант.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team">
        <div class="container">
            <div class="team__row">
                <div class="team__item">
                    <div class="team__image">
                        <img src="<%=require('@img/team-bg-1.svg') %>" alt="" class="team__image-bg">
                        <div class="team__image-wrapper">
                            <img src="<%=require('@img/team-5.png') %>" alt="">
                        </div>
                    </div>
                    <div class="team__content">
                        <div class="team__content-title">
                            Вороницкая <br> Валерия
                        </div>
                        <div class="team__content-subtitle">
                            Самарский государственный социально-педагогический университет, «Школа подготовки вожатых - Академия вожатых» (2017г.),
                        </div>
                        <p class="team__content-txt">
                            Я коммуникабельный, активный и открытый человек. Занимаюсь вокалом, люблю музыку и всё, что связано с Гарри Поттером.
                        </p>
                    </div>
                </div>
                <div class="team__item">
                    <div class="team__image">
                        <img src="<%=require('@img/team-bg-2.svg') %>" alt="" class="team__image-bg team__image-bg_2">
                        <div class="team__image-wrapper">
                            <img src="<%=require('@img/team-6.png') %>" alt="">
                        </div>
                    </div>
                    <div class="team__content">
                        <div class="team__content-title team__content-title_yel">
                            Гусельников <br> Александр
                        </div>
                        <div class="team__content-subtitle">
                            Самарский Государственный Экономический Университет, Студенческий педагогический отряд СГЭУ «Наш Мир»(2018г.)
                        </div>
                        <p class="team__content-txt">
                            Общительный и открытый человек, стрессоустойчивый и многосторонне развитый. Увлечений много, нет сфер, которые мне были бы не интересны.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="leader">
        <div class="container">
            <h2 class="leader__title">
                Вожатые
            </h2>
            <p class="leader__txt">
                У нас нет случайных людей — здесь все любят то, что делают, и делают то, что любят. 
            </p>
            <div class="leader__slider">
                <div class="leader__slider-item">
                    <div class="leader__slider-image">
                        <img src="<%=require('@img/leader-shape.svg') %>" class="leader__slider-shape" alt="">
                        <img src="<%=require('@img/leader-1.png') %>" class="leader__slider-avatar" alt="">
                    </div>
                    <div class="leader__slider-title">
                        Гриша
                    </div>
                    <div class="leader__slider-subtitle">
                        Опыт: более 5 смен
                    </div>
                    <div class="leader__slider-descr">
                        Мечтаю отправиться <br> в кругосветное путешествие!
                    </div>
                    <p class="leader__slider-txt">
                        Так случилось, что по образованию я не педагог, <br> а студент Московского авиационного института. Несколько лет назад мой жизненный путь привел меня в Российские студенческие отряды, <br> в Педагогический отряд "Высота". <br> С тех самых пор все школьные каникулы <br> я провожу в лагере с детьми, и мне это очень нравится:) В свободное время еще я увлекаюсь фотографией, моделированием и философией.
                    </p>
                </div>
                <div class="leader__slider-item">
                    <div class="leader__slider-image">
                        <img src="<%=require('@img/leader-shape.svg') %>" class="leader__slider-shape" alt="">
                        <img src="<%=require('@img/leader-2.png') %>" class="leader__slider-avatar" alt="">
                    </div>
                    <div class="leader__slider-title">
                        Ирина
                    </div>
                    <div class="leader__slider-subtitle">
                        Опыт: более 3 смен
                    </div>
                    <div class="leader__slider-descr">
                        Мечтаю отправиться <br> в кругосветное путешествие!
                    </div>
                    <p class="leader__slider-txt">
                        Так случилось, что по образованию я не педагог, <br> а студент Московского авиационного института. Несколько лет назад мой жизненный путь привел меня в Российские студенческие отряды, <br> в Педагогический отряд "Высота". <br> С тех самых пор все школьные каникулы <br> я провожу в лагере с детьми, и мне это очень нравится:) В свободное время еще я увлекаюсь фотографией, моделированием и философией.
                    </p>
                </div>
                <div class="leader__slider-item">
                    <div class="leader__slider-image">
                        <img src="<%=require('@img/leader-shape.svg') %>" class="leader__slider-shape" alt="">
                        <img src="<%=require('@img/leader-3.png') %>" class="leader__slider-avatar" alt="">
                    </div>
                    <div class="leader__slider-title">
                        Павел
                    </div>
                    <div class="leader__slider-subtitle">
                        Опыт: более 3 смен
                    </div>
                    <div class="leader__slider-descr">
                        Мечтаю отправиться <br> в кругосветное путешествие!
                    </div>
                    <p class="leader__slider-txt">
                        Так случилось, что по образованию я не педагог, <br> а студент Московского авиационного института. Несколько лет назад мой жизненный путь привел меня в Российские студенческие отряды, <br> в Педагогический отряд "Высота". <br> С тех самых пор все школьные каникулы <br> я провожу в лагере с детьми, и мне это очень нравится:) В свободное время еще я увлекаюсь фотографией, моделированием и философией.
                    </p>
                </div>
                <div class="leader__slider-item">
                    <div class="leader__slider-image">
                        <img src="<%=require('@img/leader-shape.svg') %>" class="leader__slider-shape" alt="">
                        <img src="<%=require('@img/leader-2.png') %>" class="leader__slider-avatar" alt="">
                    </div>
                    <div class="leader__slider-title">
                        Ирина
                    </div>
                    <div class="leader__slider-subtitle">
                        Опыт: более 3 смен
                    </div>
                    <div class="leader__slider-descr">
                        Мечтаю отправиться <br> в кругосветное путешествие!
                    </div>
                    <p class="leader__slider-txt">
                        Так случилось, что по образованию я не педагог, <br> а студент Московского авиационного института. Несколько лет назад мой жизненный путь привел меня в Российские студенческие отряды, <br> в Педагогический отряд "Высота". <br> С тех самых пор все школьные каникулы <br> я провожу в лагере с детьми, и мне это очень нравится:) В свободное время еще я увлекаюсь фотографией, моделированием и философией.
                    </p>
                </div>
                <div class="leader__slider-item">
                    <div class="leader__slider-image">
                        <img src="<%=require('@img/leader-shape.svg') %>" class="leader__slider-shape" alt="">
                        <img src="<%=require('@img/leader-3.png') %>" class="leader__slider-avatar" alt="">
                    </div>
                    <div class="leader__slider-title">
                        Павел
                    </div>
                    <div class="leader__slider-subtitle">
                        Опыт: более 3 смен
                    </div>
                    <div class="leader__slider-descr">
                        Мечтаю отправиться <br> в кругосветное путешествие!
                    </div>
                    <p class="leader__slider-txt">
                        Так случилось, что по образованию я не педагог, <br> а студент Московского авиационного института. Несколько лет назад мой жизненный путь привел меня в Российские студенческие отряды, <br> в Педагогический отряд "Высота". <br> С тех самых пор все школьные каникулы <br> я провожу в лагере с детьми, и мне это очень нравится:) В свободное время еще я увлекаюсь фотографией, моделированием и философией.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="get">
        <div class="container">
            <div class="get__row">
                <div class="get__content">
                    <h2 class="get__title">
                        Оставить заявку на смену
                    </h2>
                    <p class="get__txt">
                        Если вы затрудняетесь в выборе программы для своего ребенка, у вас появлились вопросы, мы с радостью поможем вам в выборе и ответим на любые вопросы!
                    </p>
                    <form action="#" class="get__form">
                        <div class="get__form-row">
                            <div class="get__form-group">
                                <input type="text" class="get__form-control get__form-control_name" placeholder="Ваше имя">
                            </div>
                            <div class="get__form-group">
                                <input type="text" class="get__form-control get__form-control_phone" id="phone-mask" placeholder="+ 7 (___) ___ - __ - __">
                            </div>
                            <div class="get__form-group">
                                <button type="submit" class="get__form-submit" disabled="disabled">
                                    Отправить заявку
                                </button>
                            </div>
                        </div>
                        <div class="get__form-agree">
                            <input type="checkbox" name="agree" id="agree">
                            <label for="agree">
                                При нажатии на кнопку “Отправить заявку” вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="get__contacts">
                    <div class="get__contacts-top">
                        Позвоните нам <a href="tel:8 (495) 540-56-29">8 (495) 540-56-29</a>
                    </div>
                    <div class="get__contacts-txt">
                        Если вы затрудняетесь в выборе программы, <span>подберем вашему ребенку подходящую смену</spa>
                    </div>
                </div>
                <div class="get__image">
                    <img src="<%=require('@img/get-image.svg') %>" alt="">
                </div>
            </div>
        </div>
    </section>
</main>

<%= require('@parts/footer.ejs')() %>