.header {
    background: url(../../assets/img/header-bg.jpg) top center repeat-x;
    box-shadow: 0px -22px 63px rgba(0, 0, 0, 0.24), 0px -2.75474px 7.88858px rgba(0, 0, 0, 0.12);
    &_bottom {
        box-shadow: 0px -22px 63px rgba(0, 0, 0, 0.24), 0px -2.75474px 7.88858px rgba(0, 0, 0, 0.12);
        position: relative;
        z-index: 2;
        .header__row {
            justify-content: flex-end;
        }
        .header__list {
            margin-right: 48px;
        }
    }
    padding-top: 19px;
    padding-bottom: 19px;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        li {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            text-decoration: none;
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            font-family: 'Pribambas', sans-serif;
            color: #fff;
            text-transform: uppercase;
            transition: .3s all;
            &:hover {
                color: rgba(255, 255, 255, 0.7);
                text-decoration: underline;
            }
        }
    }
    &__contacts {
        display: flex;
        align-items: center;
    }
    &__socials {
        margin-right: 48px;
        display: flex;
        &-item {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            border: 1px dashed rgba(255, 255, 255, 0);
            transition: .3s all;
            &:hover {
                border-color: rgba(255, 255, 255, 0.6);
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__phone {
        color: #fff;
        &-title {
            font-size: 12px;
        }
        &-link {
            font-family: 'Pribambas', sans-serif;
            display: inline-block;
            font-size: 22px;
            line-height: 22px;
            text-decoration: none;
            color: #fff;
            transition: .3s all;
            &:hover {
                text-decoration-line: underline;
                color: #537B21;
            }
        }
    }
}

.mob-header {
    background: url(../../assets/img/header-bg.jpg) top center no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-size: 30px;
        text-decoration: none;
        color: #fff;
        font-family: "Shnobel", sans-serif;
        &:hover {
            color: #fff;
        }
    }
    padding-top: 20px;
    padding-bottom: 20px;
    &__burger {
        span {
            width: 30px;
            height: 2px;
            background: #fff;
            display: block;
            margin-bottom: 5px;
            transition: .3s all;
            &:last-child {
                width: 19px;
                margin-left: 11px;
                margin-bottom: 0;
            }
        }
    }
}

.mob-nav {
    position: fixed;
    left: -200vw;
    width: 100vw;
    top: 0;
    bottom: 0;
    z-index: 800;
    background: #72A631;
    padding-top: 140px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0;
    transition: .5s opacity;
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            text-align: center;
            margin-bottom: 15px;
            a {
                font-family: 'Pribambas', sans-serif;
                text-decoration: none;
                font-size: 24px;
                color: #fff;
            }
        }
    }
}

.open-mob-nav {
    .mob-nav {
        left: 0;
        opacity: 1;
    }
    .mob-header__burger {
        height: 16px;
        padding-top: 6px;
        span {
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
                margin-top: -7px;
            }
            &:nth-child(3) {
                display: none;
            }
        }
    }
}